# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Symbiosis_Unity/Assets/UnityVS/
Symbiosis_Unity/Assets/UnityVS.meta
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.DotSettings

 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db


Symbiosis_Unity/Symbiosis_Unity.userprefs
Symbiosis_Unity/ProjectSettings/ProjectSettings.asset
Symbiosis_Unity/Assets/2DColliderGen/Demo/
Symbiosis_Unity/Assets/2DColliderGen.meta
Symbiosis_Unity/Assets/2DColliderGen/Demo.meta
Symbiosis_Unity/Assets/Standard Assets/Water (Pro Only).meta
Symbiosis_Unity/Assets/Standard Assets/Water (Pro Only)/Sources.meta
Symbiosis_Unity/Assets/Standard Assets/Water (Pro Only)/Water4.meta
Symbiosis_Unity/Assets/Standard Assets/Water (Pro Only)/Water4/Sources.meta
Symbiosis_Unity/Assets/Scenes/PaulOB/PaulOB_Prototyping25_dubLudo.unity
Symbiosis_Unity/ProjectSettings/EditorBuildSettings.asset
Symbiosis_Unity/Symbiosis_Unity.userprefs
